// @import 'bootstrap/dist/css/bootstrap.min.css';
.container {
    width: 50%;
    margin: 0 auto;
    }
    .desc {
    font-family: "Fira Sans", sans-serif;
    }
    .col-md-3{
    display:inline-block;
    }
    .col-md-12{
    text-align: center;
}
    // .col-md-2{
    //     // padding: 1%;
    //     // border: 1%;
    //     // text-align: center;
    //     width: 100%;
    // }

    // .col-md-4 {
    //     width:100%;
        
    // }





